networks:
  bikers:
    name: we are bikers
services:
  accumulator-main:
    build:
      context: ./accumulators/mainAccumulator
    container_name: accumulator-main
    depends_on:
      rabbit:
        condition: service_healthy
    networks:
    - bikers
    volumes:
    - ./accumulators/mainAccumulator/main.go/:/app/main.go

  accumulator-montreal1:
    build:
      context: ./accumulators/montreal
    container_name: accumulator-montreal1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - calculators=3
    - id=1
    networks:
    - bikers

  accumulator-montreal2:
    build:
      context: ./accumulators/montreal
    container_name: accumulator-montreal2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - calculators=3
      - id=2
    networks:
      - bikers

  accumulator-stations1:
    build:
      context: ./accumulators/stationAvg
    container_name: accumulator-stations1
    depends_on:
      rabbit:
        condition: service_healthy
    networks:
    - bikers
    volumes:
    - ./accumulators/stationAvg/main.go/:/app/main.go
    environment:
      - id=1

  accumulator-stations2:
    build:
      context: ./accumulators/stationAvg
    container_name: accumulator-stations2
    depends_on:
      rabbit:
        condition: service_healthy
    networks:
      - bikers
    volumes:
      - ./accumulators/stationAvg/main.go/:/app/main.go
    environment:
      - id=2

  calculator1:
    build:
      context: ./calculator
    container_name: calculator1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=1
    networks:
    - bikers
  calculator2:
    build:
      context: ./calculator
    container_name: calculator2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=2
    networks:
    - bikers
  calculator3:
    build:
      context: ./calculator
    container_name: calculator3
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=3
    networks:
    - bikers

  distributor1:
    build:
      context: ./distributor
    container_name: distributor1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - LOG_LEVEL=INFO
    - id=1
    volumes:
      - './distributor/main.go:/app/main.go'
    networks:
    - bikers
  distributor2:
    build:
      context: ./distributor
    container_name: distributor2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - LOG_LEVEL=INFO
    - id=2
    volumes:
      - './distributor/main.go:/app/main.go'
    networks:
    - bikers
  distributor3:
    build:
      context: ./distributor
    container_name: distributor3
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - LOG_LEVEL=INFO
    - id=3
    volumes:
      - './distributor/main.go:/app/main.go'
    networks:
    - bikers

  joiner-montreal1:
    build:
      context: ./joiners/montreal
    container_name: joiner-montreal1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - calculators=3
      - amountStationsWorkers=3
      - amountTripsWorkers=3
      - id=1
    volumes:
      - './joiners/montreal/main.go:/app/main.go'
      - './joiners/montreal/dto.go:/app/dto.go'
    networks:
      - bikers

  joiner-montreal2:
    build:
      context: ./joiners/montreal
    container_name: joiner-montreal2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - calculators=3
      - amountStationsWorkers=3
      - amountTripsWorkers=3
      - id=2
    volumes:
      - './joiners/montreal/main.go:/app/main.go'
      - './joiners/montreal/dto.go:/app/dto.go'
    networks:
      - bikers

  joiner-stations1:
    build:
      context: ./joiners/stations
    container_name: joiner-stations1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - amountStationsWorkers=3
      - amountTripsWorkers=3
      - id=1
    networks:
      - bikers

  joiner-stations2:
    build:
      context: ./joiners/stations
    container_name: joiner-stations2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - amountStationsWorkers=3
    - amountTripsWorkers=3
    - id=2
    networks:
    - bikers

  joiner-weather1:
    build:
      context: ./joiners/weather
    container_name: joiner-weather1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - amountWeatherWorkers=3
      - amountTripsWorkers=3
      - id=1
    networks:
      - bikers

  joiner-weather2:
    build:
      context: ./joiners/weather
    container_name: joiner-weather2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - amountWeatherWorkers=3
      - amountTripsWorkers=3
      - id=2
    networks:
      - bikers

  rabbit:
    container_name: rabbitContainer
    healthcheck:
      interval: 30s
      retries: 10
      test: rabbitmq-diagnostics check_port_connectivity
      timeout: 30s
    image: rabbitmq:management
    networks:
    - bikers
    ports:
    - 5672:5672
    - 15672:15672
  server:
    build:
      context: ./server/
    container_name: server
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - LOG_LEVEL=DEBUG
    networks:
    - bikers
    ports:
    - 9000:9000
    - 3334:3334
    volumes:
      - './server/main.go:/app/main.go'
  worker-station1:
    build:
      context: ./workers/worker-stations
    container_name: worker-station1
    volumes:
      - './workers/worker-stations/main.go:/app/main.go'
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=1
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-station2:
    build:
      context: ./workers/worker-stations
    container_name: worker-station2
    volumes:
      - './workers/worker-stations/main.go:/app/main.go'
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=2
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-station3:
    build:
      context: ./workers/worker-stations
    container_name: worker-station3
    volumes:
      - './workers/worker-stations/main.go:/app/main.go'
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=3
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-trip1:
    build:
      context: ./workers/worker-trips
    container_name: worker-trip1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=1
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-trip2:
    build:
      context: ./workers/worker-trips
    container_name: worker-trip2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=2
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-trip3:
    build:
      context: ./workers/worker-trips
    container_name: worker-trip3
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=3
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-weather1:
    build:
      context: ./workers/worker-weather
    container_name: worker-weather1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=1
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-weather2:
    build:
      context: ./workers/worker-weather
    container_name: worker-weather2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=2
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers
  worker-weather3:
    build:
      context: ./workers/worker-weather
    container_name: worker-weather3
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
    - id=3
    - distributors=3
    - LOG_LEVEL=INFO
    networks:
    - bikers

  accumulator-weather1:
    build:
      context: ./accumulators/weather
    container_name: accumulator-weather1
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - id=1
    volumes:
      - './accumulators/weather/main.go:/app/main.go'
      - './accumulators/weather/actionable.go:/app/actionable.go'
    networks:
      - bikers

  accumulator-weather2:
    build:
      context: ./accumulators/weather
    container_name: accumulator-weather2
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      - id=2
    volumes:
      - './accumulators/weather/main.go:/app/main.go'
      - './accumulators/weather/actionable.go:/app/actionable.go'
    networks:
      - bikers

  diosito:
    build:
      context: ./healthchecker/
    container_name: diosito
    depends_on:
      - server
    networks:
      - bikers
    volumes:
      - './healthchecker/main.go:/app/main.go'
      - '/var/run/docker.sock:/var/run/docker.sock'
